@model dynamic

@{
	ViewBag.Title = "PowerAnalysis: Home" + ViewBag.Message;
}

<h2>Power Analysis, Test Application (alpha version)</h2>
<p>@ViewBag.Message</p>

<p>@Html.ActionLink("Go to MAC's", "Index", "Mac")</p>
