<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="Database"
				name="databaselog"
				commandText="insert into NLog_Output 
				([time_stamp],[level],[type],[source],[logger],[stacktrace],[message]) values
			  (@time_stamp,@level,@type,@source,@logger,@stacktrace,@message);">

			<dbProvider>sqlserver</dbProvider>

			<parameter name="@time_stamp" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@type" layout="${exception:format=type}" />
			<parameter name="@source" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=false}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@stacktrace" layout="${exception:stacktrace}" />
			<parameter name="@message" layout="${message}" />

			<connectionStringName>SqlServer</connectionStringName>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="databaselog" />
	</rules>
</nlog>