@using HDC.PowerAnalysis.Web.Controllers
@model HDC.PowerAnalysis.Web.Controllers.Chart

@{
	ViewBag.Title = "MAC set";
}

<h2>Chart Test: <span data-bind="text: name"></span></h2>
<div  style="float:left">
	<div>
	<canvas id="canvas" width="500" height="500"/>
	</div>
	<div>
		<button type="button" id="printCanvas">Print...</button>
	</div>
</div>
<div id="chartdataid"  style="float:right">
	<table>
		<thead>
			<tr>
				<td>Project</td>
				<td></td>
				<td>Mt CO2</td>
				<td></td>
				<td>$ / t CO2</td>
			</tr>
		</thead>
		<tbody data-bind="foreach: items">
			<tr>
				<td><span data-bind="text: label"></span></td>
				<td><input data-bind="value: x" class="chartInput"/></td>
				<td>=<span data-bind="text: xCalc"></span></td>
				<td><input data-bind="value: y"  class="chartInput"/></td>
				<td>=<span data-bind="text: yCalc"></span></td>
			</tr>
		</tbody>
	</table>
	<button data-bind="click: redraw">Redraw</button>
</div>
<div style="float:right">
	<table>
		<thead>
			<tr>
				<td><h3>Variables</h3></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Cost of Electricty ($/GW) = e = </td>
				<td><input class="chartInput" data-bind="value: elecPerMw"/></td>
			</tr>
		</tbody>
	</table>
</div>
<script language="javascript">
	
$(function() {
	var canvas = document.getElementById("canvas");
	var ctx = canvas.getContext("2d");
	var initData = @Html.Raw(Model.Serialize());

	var vmModule = window.HDQ.macsetvm;
	var vm = vmModule.create(initData);
	
	var macCurveModule = window.HDQ.maccurve;
	macCurveModule.renderChart(vm, ctx);
	vm.redraw = function () {macCurveModule.renderChart(vm, ctx);};

	ko.applyBindings(vm);
	
	$('#printCanvas').bind('click', function () {
		var x = vm;
		var img = canvas.toDataURL("image/png");
		document.write('<img src="'+img+'"/>');
	});
});


</script>
